source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget FSharp.Core >= 6.0.0 content: none

github CompleteInformation/Core:main

# Server

# Client
nuget Fable.Elmish prerelease
nuget Fable.Elmish.React prerelease
nuget Fable.Mocha
nuget Fable.Remoting.Client
nuget Feliz prerelease
nuget Feliz.Bulma
nuget NicoVIII.SimpleOptics
